body{
    width: 100%;
    height: auto;
    font-family:"ZEN DOT";
    background-color: rgb(255, 255, 255);
}
header{
    background-color: white;
       
}
.nav-item{
    margin: 10px 30px; 
    padding:10px;
    
}
.navbar .nav-link{
    font-size: 14px;
    text-transform: uppercase;
    padding-left:10px;  
    padding-right:16px;
}
.navbar-toggler{
    outline: none !important;
}
#tnNavbar{
     align-items: center; 
     font-family:"Russo One" , sans-serif;
}
.form-control{
    border: 0;
}


.row-content {
    padding: 50px 0;
    min-height: 200px; 
    font-family:"Russo One" , sans-serif ;
}

.jumbotron{
    margin:0;
    padding-top: 400px;
    color: white; 
    min-height: 700px;
    background-image: url(https://images.pexels.com/photos/2475235/pexels-photo-2475235.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
    background-repeat:no-repeat;
}
#siteSearch {
    font-family: "RingsideRegularSSm-Book_Web",sans-serif;
    color: #010101;
    font-weight: 400;
    border-radius:3px;
    border:1px solid gray;
    width: 400px;
    
}
#bodycolor{
    background-color:#f3f2f6;
   
}

#logo{
    height: 100px;
}
.carousel .carousel-item{
    height:600px;
}
#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
 }
.carousel-item .carousel-body{
    color: black;
}
.newArrivals{
    color: black;
    background-color: white;
    text-align: center;
   
} 
#subNavbar li{
    font-weight: 500;
    font-size: 18px;
    font-family: "Russo One" , sans-serif;
}
#subNavbar a{
    text-decoration: none;
    color: rgb(19, 18, 18);
}
#subNavbar a:hover{
    text-decoration: underline 10px solid rgb(92, 92, 91);
}

#popularBrands{
    margin-top: 24px;
    margin-bottom: 16px;
    border-bottom: 1px gray;
}
#popularBrands a{
    font-family: "Russo One" , sans-serif;
    font-size: 14px;
}
#popularBrands h3{
    font-family: "Russo One" , sans-serif;
    font-size: 18px;
}
.card{
    margin-bottom: 20px;
}
.card-body{
    background-color: #f1efef;
    height: 150px;
}
.card-text{
    font-family: "Russo One" , sans-serif;
    font-size: 16px;
}
.card-title{
    font-size: 20px;
    font-family: Zen dot;
}
.cardImg{
    height: 150px;
    object-fit: contain;
}
.lines{
    font-family: "Russo One" , sans-serif;
}
.lines h4{
    font-family: "Zen dots";
}
.tNepal{
    max-height: 31.25 rem;
}
.site-footer{
    margin-top: 25px;
    padding-top: 25px;
    background-image: linear-gradient(to right, #1a4426, #215323, #234221);
    color: white;
    font-family:  "Russo One" , sans-serif;
    font-size:16px;

}
.site-footer li a{
    color: white;
}